.about-page {
}

.about-bg {
  background: linear-gradient(220deg, #ce9c52 10%, #faf395 50%, #c59f2f 80%, #ce9c52 100%);
  padding: 1px;
}
.about-content {
  background: #111;
  padding: 1rem 20px;
  color: #c1c1c1;
}
