.guide-container {
  display: flex;
}

.guide-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.guide-step {
  margin-right: .5rem;
}
.guide-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #edcc6b;
  font-weight: bold;
  margin: .5rem 0;
}

.guide-img{
  width: 9rem;
  height: 9rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .guide-container{
    flex-wrap: wrap;
    padding: 0 1rem;
  }
  .guide-card {
    width: 45%;
    align-items: center;
    &:nth-child(odd){
      margin-right: 5%;
    }
  }
  .guide-img{
    width: 100%;
    height: 100%;
  }
}
