.promo-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.promo-card {
  background: linear-gradient(220deg, #ce9c52 10%, #faf395 50%, #c59f2f 80%, #ce9c52 100%);
  padding: 1px;
  margin-bottom: 1rem;
  width: 49%;
  cursor: pointer;
  &:nth-child(odd){
    margin-right: 1%;
  }
  &:nth-last-child(1){
    margin-right: 0;
  }
  .promo-img{
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width: 768px) {
  .promo-card{
    width: 100%;
    margin-right: 0;
  }
}
